.crash-tabs {
    
}
/* title */
.crash-tabs .titleDefCss{
    position: relative;
    display: flex;
}
.crash-tabs .titleAcion{
    color: #1890ff;;
}
/* link */
.crash-tabs .linkDefCss{
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #1890ff;;
    transition: all 0.5s ease 0s;
}

/* content */
.crash-tabs .contentDefCss{
    position: relative;
}

.crash-tabs .contentDefCss .childrenDefCss{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}
.crash-tabs .contentDefCss .contentAction {
    visibility: visible;
}
