.crash-rate{
    font-size: 20px;
}
/* content */
.crash-rate .contentDefCss{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/* li */
.crash-rate .contentDefCss .liDefCss {
    position: relative;
    cursor: pointer;
}
/* arrow */
.crash-rate .contentDefCss .arrowDefCss{
   color: #f0f0f0;
  
}

.crash-rate .contentDefCss .arrowHalfDefCss{
    position: absolute;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    color: #f0f0f0;
}

/* action */
.crash-rate .contentDefCss .actionArrow{
    opacity: 1;
    color: #fadb14;
    transition: color 0.5s ease 0s;
}